<head>
  <title>
    {{- if .IsHome }}
    {{ .Title }} - Strona główna
    {{ else }}
    {{- with .Title }}
    {{ . }} – {{ $.Site.Title }}
    {{ else }}
    {{ .Site.Title }}
    {{ end }}
    {{ end -}}
  </title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- for now, don't index pages because I'm not sure about the URLs. -->
  <meta name="robots" content="noindex">

  <!-- These three must come first in the head section. -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- This could be deduplicated, to not repeat description and og:description.
    https://pkg.go.dev/text/template#hdr-Variables talks about using variables,
    but I tried to set a variable and when I tried to read it, it was still
    unset. -->
  <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{else if .Description }}{{ .Description}}{{ else }}{{ .Summary | plainify | safeHTML | truncate 160 }}{{end}}" />

  <!-- Facebook (OpenGraph?) meta tags -->
  <meta property="og:site_name"          content="{{ .Site.Title }}" />
  <meta property="og:url"                content="{{ .Permalink }}" />
  <meta property="og:type"               content="{{ if .IsHome }}website{{ else }}article{{end}}" />
  <meta property="og:title"              content="{{ .Title }}" />
  <meta property="og:description"        content="{{ if .IsHome }}{{ $.Site.Params.description }}{{else if .Description }}{{ .Description}}{{ else }}{{ .Summary | plainify | safeHTML| truncate 160 }}{{end}}" />
  {{ with .Params.images -}}
  {{ range $.Param "images" -}}
  <meta property="og:image"              content="{{ .path }}" />
  {{ end }}
  {{ end }}
  {{ with $.Param "image.alt" -}}
  <meta property="og:image:alt"          content="{{ . }}" />
  {{- end }}
  <link rel="canonical" href="{{ .Permalink }}" />

</head>
