<script type="application/ld+json">
{{ if eq .Section "książka" }}
{
  "@context": "https://schema.org",
  "@type": "Chapter",
  "headline": {{ .Title }},
  {{ with .Params.images }}
  {{ range first 1 ($.Param "images") -}}
  "image": {{ .path | absURL }},
  {{ end }}
  {{ end }}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  "maintainer": {
    "@type": "Person",
    "name": {{ .Site.Params.maintainer }}
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Params.organization }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.logo | absURL }}
    }
  },
  "description": {{ .Summary | plainify | safeJS }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
{{ end }}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Params.organization }},
  "url": {{ .Site.BaseURL }},
}
</script>
