{{ define "main" }}

<main>

  <h2><a href="https://gitara-jazzowa.pl">Gitara Jazzowa → gitara-jazzowa.pl</a></h2>

  <p>Książka Marka Blizińskiego <i>Gitara Jazzowa</i> znajduje się pod adresem
  <a href="https://gitara-jazzowa.pl" style="appearance: button;">gitara-jazzowa.pl</a>.</p>

  {{ with .Site.GetPage "książka" }}
  {{ with .GetPage "Harmonia_jazzowa_na_gitarze.md" }}
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ .Content }}
  {{ end }}
  {{ end }}

  <hr />

  <i>Aktualizacje</i>

  {{ with .Site.GetPage "section" "blog" }}
  {{ range first 2 .Pages }}
  <h3>
    {{ .Title }}
    <a href="{{ .RelPermalink }}">{{ .Date.Format "2006-01-02" }}</a>
  </h3>
  {{ .Content }}
  {{ end }}
  {{ end }}

  <hr>

  {{ range first 1 .Pages }}
  <a href="{{ .RelPermalink }}" title="{{ .Description }}">{{ .Title | lower }}</a>
  {{ end }}
  {{ range after 1 .Pages }}
  &ndash;
  <a href="{{ .RelPermalink }}" title="{{ .Description }}">{{ .Title | lower }}</a>
  {{ end }}


  <!--
  {{ range .Site.Taxonomies.kategorie }}
  <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    ({{ .Count }})</li>
  {{ end }}
  -->

  <!--
  <a href="/kategorie">Kategorie stron</a>
  -->
</main>

<!-- For now, hardcoded. -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "breadcrumb": "Books > Music > Jazz",
  "mainEntityOfPage": {
    "@type": "Article",
    "headline": {{ .Title }},
    "url": {{ .Permalink }},
    "description": {{ (.Site.GetPage "Od_autora.md" ).Summary | plainify | safeHTML }},
    "author": {
      "@type": "Person",
      "name": {{ .Site.Params.author.name }},
      "image": {{ .Site.Params.author.image | absURL }},
      "url": {{ .Site.Params.author.url }}
    },
    "datePublished": "1982-01-01",
    "dateModified": {{ .Lastmod }},
    "image": "/images/okladka-1982.jpg",
    "inLanguage": "Polish",
    "identifier": "8300002723",
    "publisher": {
      "@type": "Organization",
      "name": {{ .Site.Params.maintainer.name }},
      "url": {{ .Site.Params.maintainer.url }},
      "logo": {{ .Site.Params.maintainer.image }},
      "same_as": [
        "https://twitter.com/{{ .Site.Params.maintainer.twitter }}",
        "https://github.com/{{ .Site.Params.maintainer.github }}"
      ]
    },
    "name": "{{ .Site.Title }}"
  }
}
</script>

{{ end }}
